/_build
/cover
/deps
/doc
/references
*.snapshot
erl_crash.dump
*.ez
*.tar
.DS_Store
.iex.exs

# Generated erlang source
/src/*.erl

# asdf
.tool-versions

# Excel temp file
corpus/analysis/~$Accuracy Analysis.xlsx
